<div class="income-edit edit">
  <h1 class="edit-title big-title">Редактирование категории доходов</h1>
  <form>
    <div class="col-md-6">
      <input type="text" class="form-control edit-input" id="income-create" aria-describedby="validationServer03Feedback" required placeholder="Название...">
      <div id="validationServer03Feedback" class="invalid-feedback">
        Поле с названием должно быть заполнено
      </div>
      <div class="edit-actions">
        <button type="button" class="btn btn-success edit-btn" id="edit-btn">Создать</button>
        <button type="button" class="btn btn-danger edit-btn" id="cancel-btn">Отмена</button>
      </div>

    </div>
  </form>
</div>