<div class="expenses-create create">
  <h1 class="create-title big-title">Создание категории расходов</h1>
  <form>
    <div class="col-md-6">
      <input type="text" class="form-control create-input" id="expenses-create" aria-describedby="validationServer03Feedback" required placeholder="Название...">
      <div id="validationServer03Feedback" class="invalid-feedback">
        Введите название категории расхода
      </div>
      <div class="create-actions">
        <button type="button" class="btn btn-success create-btn" id="create-btn">Создать</button>
        <button type="button" class="btn btn-danger create-btn" id="cancel-btn">Отмена</button>
      </div>
    </div>
  </form>
</div>