$main-bg-color: #F5F5F5;
$main-title-page-color: #052C65;
$input-icon-bg-color: #E9ECEF;
$input-text-color: #6C757D;
$svg-fill-color: #6C757D;
$main-btn-text-color: #FFFFFF;
$secondary-text-color: #000;
$link-color: #0D6EFD;
$hover-color: #0D6EFD;
$hover-text-color: #FFFFFF;
$layout-border: #D9D9D9;
$avatar-bg: #D9D9D9;
$user-info-color: #052C65;
$main-nav-colors: #6C757D;
$chart-title-text: #290661;
$card-title-text: #290661;
$card-border: #CED4DA;
$card-plus-color: #CED4DA;
$card-bg-hover: #e5e5e5;
$table-title-color: #052C65;
$table-number-color: #000;
$table-income-color: #198754;
$table-expenses-color: #DC3545;
$table-icon-fill: #000;
$table-icon-hover-fill: #484747;
$table-border: #DEE2E6;
$hover-layout-links: #66cbe8;
$burger-color: #290661;
$text-error-color: #ff0000;

$custom-modal-bg: rgba(64, 64, 64, 0.2);